body {
    font-family: Tahoma;
    display: flex;
    justify-content: stretch;
    flex-direction: column; 
    width: 100%;
    height: 100%;
    margin: 0;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4%;
}

.top-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-links {
    padding-right: 10%;
    display: flex;
}

.top-bar p {
    padding-left: 10%;
    font-size: 24px;
    color: #F9FAF8;
}

.top-bar ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.hero-description,
.top-bar a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero-description {
    align-self: flex-start;
}

.hero-statement {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    align-self: flex-start;
}

.login-button button {
    padding: 4px 30px;
    background-color: #3882F6;
    color: white;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.login-button {
    align-self: flex-start;
}

.header-image img {
    width: 490px;
    height: 250px;
    object-fit: cover;
}

.header-image {
    padding-right: 10%;
}

.header-mid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero {
    margin-left: 10%;
}

.content-container {
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
}

.text-container {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 3%;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 3%;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}
.image img {
    width: 220px;
    height: 220px;
    border: 4px solid #3882F6;
    border-radius: 25px;
    object-fit: cover;
}

.image p {
    color: #6C7580;
    font-size: 18px;
    font-weight: bolder;

}