body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Roboto, "Times New Roman";
}

.header, .footer {
    background-color: #1F2937;
}
.header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid red;
}
.top-bar {
    border: 5px solid yellow;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-links {
    padding-right: 10%;
    display: flex;
}
.top-bar p {
    padding-left: 10%;
    font-size: 24px;
    color: #F9FAF8;
}

.top-bar ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.hero-description, .top-bar a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}
