body {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Roboto, "Times New Roman";
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-links {
    padding-right: 10%;
    display: flex;
}

.top-bar p {
    padding-left: 10%;
    font-size: 24px;
    color: #F9FAF8;
}

.top-bar ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.hero-description,
.top-bar a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero-description {
    align-self: flex-start;
}

.hero-statement {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    align-self: flex-start;
}

.login-button button {
    padding: 4px 30px;
    background-color: #3882F6;
    color: white;
    border: 5px solid #3882f6;
    border-radius: 8px;
}
.login-button {
    align-self: flex-start;
}   
.header-image img {
    width: 400px;
    height: 270px;
    object-fit: contain; 
}
.header-image {
    padding-righT: 10%;
}

.header-mid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header {
    border: 5px solid blue;
}

.hero {
    margin-left: 10%;
}